*.build
*.deb
*.tar.gz
*.dsc
*.changes
*.debhelper.log
*.debhelper
*.substvars
*.o
*.swp
*.un~

**/debian/files
**/debian/*.debhelper
**/debian/*.debhelper.log
**/debian/*.substvars

utils/debian/wb-utils/
wb-utils_*.deb
wb-utils_*.changes

.tern-port
debian/wb-utils/
debian/debhelper-build-stamp

build_scripts/mass_storage.img
