#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	python3 -B -m unittest discover -s tests
endif

override_dh_installsystemd:
	dh_installsystemd --name=wb-prepare --no-start --no-restart-after-upgrade --no-restart-on-upgrade
	dh_installsystemd --name=wb-init --no-start --no-restart-after-upgrade --no-restart-on-upgrade
	dh_installsystemd --name=wb-watch-update
	dh_installsystemd --name=wb-gsm
	dh_installsystemd --name=wb-usb-otg
	dh_installsystemd --name=wb-usb-otg-winusb --no-start --no-enable
	dh_installsystemd --name=wb-usb-otg-netfunc
