#!/usr/bin/make -f
%:
	dh $@

override_dh_installsystemd:
	dh_installsystemd --name=wb-prepare --no-start --no-restart-after-upgrade --no-restart-on-upgrade
	dh_installsystemd --name=wb-init --no-start --no-restart-after-upgrade --no-restart-on-upgrade
	dh_installsystemd --name=wb-watch-update
	dh_installsystemd --name=wb-gsm
	dh_installsystemd --name=wb-usb-otg
