#!/usr/bin/make -f
%:
	dh $@ --with systemd

override_dh_installsystemd:
	dh_installsystemd --name=wb-prepare --no-start --no-restart-after-upgrade --no-restart-on-upgrade
	dh_installsystemd --name=wb-repart --no-start --no-restart-after-upgrade --no-restart-on-upgrade

override_dh_systemd_enable:
	dh_systemd_enable --name=wb-prepare wb-prepare.service
	dh_systemd_enable --name=wb-repart wb-repart.service

override_dh_systemd_start:
	dh_systemd_start --name=wb-prepare --no-start wb-prepare.service
	dh_systemd_start --name=wb-repart --no-start wb-repart.service
