[Unit]
Description=Power on GSM modem
Wants=wb-hwconf-manager.service
Before=network-pre.target
After=wb-hwconf-manager.service

[Service]
Type=simple
ExecStart=wb-gsm-mm
ExecStop=wb-gsm mm_off
ExecCondition=wb-gsm should_enable
Restart=on-failure
WatchdogSec=300

[Install]
WantedBy=multi-user.target
