[Unit]
Description=fix hardware-dependent services configs at first boot (with actual dts loaded)
Conflicts=shutdown.target
After=first-boot-complete.target wb-init.service wb-configs.service
Wants=first-boot-complete.target
RefuseManualStop=true
ConditionFirstBoot=yes

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/wb-utils/prepare/wb-fix-hardware.sh

[Install]
WantedBy=multi-user.target
