[Unit]
Description=Save local date on Wiren Board GSM RTC
Before=final.target

[Service]
Type=oneshot
ExecCondition=/usr/lib/wb-utils/wb-gsm-rtc/conditions.sh save_time
ExecStart=/usr/bin/wb-gsm-rtc save_time

[Install]
WantedBy=final.target
