[Unit]
Description=check partitions table
DefaultDependencies=no
Conflicts=shutdown.target
Before=local-fs-pre.target shutdown.target
After=systemd-remount-fs.service
RefuseManualStop=true
OnFailure=emergency.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecCondition=/usr/lib/wb-utils/prepare/repart-conditions.sh
ExecStart=/bin/echo "Partition table is OK"

[Install]
WantedBy=sysinit.target
