[Unit]
Description=Restore local date from Wiren Board GSM RTC
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecCondition=/usr/lib/wb-utils/wb-gsm-rtc/conditions.sh restore_time
ExecStart=/usr/bin/wb-gsm-rtc restore_time

[Install]
WantedBy=multi-user.target
