[Unit]
Description=Save local date on Wiren Board GSM RTC
Before=final.target

[Service]
Type=oneshot
ExecStart=/usr/lib/wb-utils/wb-gsm-rtc/save-wrapper.sh

[Install]
WantedBy=final.target
