[Unit]
Description=USB Debug Network
After=NetworkManager.service
PartOf=NetworkManager.service

[Service]
Type=oneshot
ExecStart=/usr/lib/wb-utils/wb-usb-otg/wb-usb-otg-start.sh
RemainAfterExit=true
ExecStop=/usr/lib/wb-utils/wb-usb-otg/wb-usb-otg-stop.sh
StandardOutput=journal
ExecCondition=/usr/lib/wb-utils/wb-usb-otg/check-wb7.sh

[Install]
WantedBy=multi-user.target
