[Unit]
Description=Power on GSM modem
Wants=wb-hwconf-manager.service
After=wb-hwconf-manager.service

[Service]
Type=oneshot
ExecStart=wb-gsm wb7_on
ExecStopPost=wb-gsm wb7_off
ExecCondition=wb-gsm should_enable
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
