[Unit]
Description=prepare partitions at first boot
DefaultDependencies=no
Conflicts=shutdown.target
Before=local-fs-pre.target shutdown.target
After=systemd-remount-fs.service
RefuseManualStop=true

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/wb-prepare make-partitions

[Install]
WantedBy=sysinit.target
