<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="0; url={{ wb_ipaddr }}">
        <script type="text/javascript">
            window.location.href = "{{ wb_ipaddr }}"
        </script>
        <title>WB webui</title>
    </head>
    <body>
        If you are not redirected automatically, follow this <a href='{{ wb_ipaddr }}'>link to access WB webui</a>.
    </body>
</html>
